Repository lnked/react-native-mobx-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, git add -A

0.2.2
  package.json
Due: git add -A

update
  .lintstagedrc
  lint-staged.config.js
Due: none

0.2.3
  package.json
Due: git add -A

update
  lint-staged.config.js
Due: none

0.2.4
  package.json
Due: git add -A

update
  package.json
Due: git add -A

0.2.5
  package.json
Due: git add -A

update
  android/app/build.gradle
  android/build.gradle
  ios/app/Info.plist
  package.json
  yarn.lock
Due: git add -A

0.2.6
  package.json
Due: git add -A

update
  android/app/build.gradle
  android/app/lint/suppressing.xml
  android/app/src/main/assets/fonts/Feather.ttf
  android/app/src/main/assets/fonts/Fontisto.ttf
  android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  android/app/src/main/assets/index.android.bundle
  android/app/src/main/java/com/app/MainActivity.java
  android/app/src/main/java/com/app/MainApplication.java
  android/app/src/main/res/layout/launch_screen.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
  ios/Podfile
  ios/Podfile.lock
  ios/app.xcodeproj/project.pbxproj
  ios/app/AppDelegate.m
  ios/app/Info.plist
  jest.setup.js
  package.json
  src/i18n/index.ts
  yarn.lock
Due: yarn lint, git add -A

update
  android/app/build.gradle
Due: none

0.2.7
  package.json
Due: git add -A

upgrade devendencies
  ios/Podfile.lock
Due: none

0.2.8
  package.json
Due: git add -A

update
  ios/app/AppDelegate.m
  src/app.tsx
Due: yarn lint, git add -A

0.2.9
  package.json
Due: git add -A

upgrade to react-native 0.60.0
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/java/com/app/MainApplication.java
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/gradle.properties
  android/keystores/BUCK
  android/keystores/debug.keystore.properties
  android/settings.gradle
  ios/Podfile
  ios/Podfile.back
  ios/Podfile.lock
  ios/app-tvOS/Info.plist
  ios/app.xcodeproj/project.pbxproj
  ios/app.xcworkspace/contents.xcworkspacedata
  ios/app/Info.plist
  package.json
  yarn.lock
Due: git add -A

upgrade dependences
  package.json
  yarn.lock
Due: git add -A

0.2.10
  package.json
Due: git add -A

0.2.11
  package.json
Due: git add -A

0.2.12
  package.json
Due: git add -A

upgrade dependencies
  .flowconfig
  metro.config.js
  package.json
  yarn.lock
Due: git add -A

upgrade devendencies
  package.json
  yarn.lock
Due: git add -A

upgrade dependencies
  package.json
  yarn.lock
Due: git add -A

upgrade dependencies
  android/app/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  index.js
  package.json
Due: git add -A

update
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
Due: none

update
  .env
  __tests__/App-test.js
  babel.config.js
  index.js
  lint-staged.config.js
  package.json
  reactotron.config.js
  src/App/index.test.tsx
  src/App/index.tsx
  src/App/styles.ts
  src/i18n/index.ts
  src/i18n/locales/en.ts
  src/i18n/locales/ru.ts
  src/resources/fonts/IBMPlexSans-Italic.ttf
  src/resources/fonts/IBMPlexSans-Medium.ttf
  src/resources/fonts/IBMPlexSans-Regular.ttf
  src/resources/fonts/IBMPlexSans-SemiBold.ttf
  src/resources/images/index.js
  src/resources/images/logo.png
  src/resources/images/logo@2x.png
  src/resources/images/logo@3x.png
  src/resources/styles/colors.ts
  src/resources/styles/common-styles.ts
  src/resources/styles/fonts.ts
  src/resources/styles/index.ts
  tsconfig.jest.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: yarn lint, git add -A

0.0.2
  package.json
Due: git add -A

1.0.1
  package.json
Due: git add -A

update
  __tests__/App-test.js
  jest.config.js
  jest.setup.js
  package.json
Due: git add -A

1.0.2
  package.json
Due: git add -A

Path conditions:
  yarn lint: any of: ./src/**/*.{ts,tsx}
  git add -A: (any of: ./src/**/*.{ts,tsx}) or (any of: **/*.{json,md,yaml,yml})
