Repository lnked/react-native-mobx-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, git add -A

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "yarn lint",
    "git add -A"
  ],
  "**/*.{json,md,yaml,yml}": [
    "git add -A"
  ]
}

1.0.36
  package.json
Due: git add -A

fix travis
  .travis/deploy.sh
  package.json
Due: git add -A

1.0.37
  package.json
Due: git add -A

fix travis
  .travis.yml
  .travis/deploy.sh
Due: git add -A

update
  __mocks__/react-native-splash-screen.js
  android/app/src/main/java/com/demoapp/MainActivity.java
  android/app/src/main/java/com/demoapp/MainApplication.java
  ios/DemoApp/AppDelegate.m
  ios/Podfile.lock
  package.json
  src/App/index.dup.tsx
  src/App/index.tsx
  src/App/styles.ts
  src/components/Badge/index.tsx
  src/components/Button/index.tsx
  src/components/Footer/index.tsx
  src/components/Footer/styles.ts
  src/components/Input/index.tsx
  src/components/index.ts
  src/i18n/index.ts
  src/navigation/NavigationService.ts
  src/navigation/config.ts
  src/navigation/index.ts
  src/resources/styles/CommonStyles.ts
  src/resources/styles/fonts.ts
  src/resources/styles/index.ts
  src/screens/DetailsScreen/index.tsx
  src/screens/HeaderState/index.tsx
  src/screens/HomeScreen/index.tsx
  src/screens/HomeScreen/styles.ts
  src/screens/LoginScreen/index.tsx
  src/screens/index.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: yarn lint, git add -A

Upgrade dependencies
  package.json
  yarn.lock
Due: git add -A

Upgrade dependencies
  ios/Podfile.lock
Due: none

Upgrade dependencies
  package.json
  src/App/index.tsx
  src/components/index.ts
  src/modules/Footer/index.tsx
  src/modules/Footer/styles.ts
  src/modules/index.ts
  src/screens/DetailsScreen/index.tsx
  src/screens/HeaderState/index.tsx
  src/screens/HomeScreen/index.tsx
  src/screens/LoginScreen/index.tsx
  tslint.json
  yarn.lock
Due: yarn lint, git add -A

Upgrade dependencies
  android/app/src/main/java/com/demoapp/MainActivity.java
Due: none

Upgrade dependencies
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  package.json
  yarn.lock
Due: git add -A

test
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/build.gradle
  android/gradle.properties
  ios/DemoApp.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

update
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/gradle.properties
  package.json
Due: git add -A

Upgrade dependencies
  ios/Podfile.lock
  yarn.lock
Due: none

1.0.38
  package.json
Due: git add -A

1.0.39
  package.json
Due: git add -A

update
  android/app/src/main/AndroidManifest.xml
Due: none

1.0.40
  package.json
Due: git add -A

1.0.41
  android/app/src/main/AndroidManifest.xml
  package.json
Due: git add -A

1.0.42
  package.json
Due: git add -A

1.0.43
  package.json
Due: git add -A

Upgrade dependencies
  android/app/src/main/AndroidManifest.xml
  ios/DemoApp.xcodeproj/project.pbxproj
  ios/DemoApp/Info.plist
  ios/Podfile.lock
  package.json
  src/navigation/index.ts
  src/screens/QRScanner/index.tsx
  yarn.lock
Due: yarn lint, git add -A

Upgrade dependencies
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

Upgrade dependencies
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/iTunesArtwork@1x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/iTunesArtwork@2x-1.png
  ios/DemoApp/Images.xcassets/Contents.json
  yarn.lock
Due: git add -A

update
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/1024x1024@1x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/20x20@3x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/29x29@1x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/29x29@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/29x29@3x-1.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/40x40@1x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/40x40@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/40x40@3x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/512x512@1x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/512x512@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/60x60@2x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/60x60@3x.png
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Contents.json
Due: git add -A

Upgrade dependencies
  ios/DemoApp/Base.lproj/LaunchScreen.xib
Due: none
