Repository lnked/react-native-mobx-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, git add -A

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "yarn lint",
    "git add -A"
  ],
  "**/*.{json,md,yaml,yml}": [
    "git add -A"
  ]
}

update
  ios/Podfile.lock
  package.json
  src/resources/images/README.MD
  src/resources/images/appIcon.png
  src/resources/images/appIcon@2x.png
  src/resources/images/appIcon@3x.png
  src/resources/images/index.js
  yarn.lock
Due: git add -A

1.0.3
  package.json
Due: git add -A

update
  package.json
Due: git add -A

update
  jest.config.js
  lint-staged.config.js
  reactotron.config.js
  src/components/hello/index.tsx
  src/components/index.ts
  src/components/logo/index.tsx
  src/configs/constants.ts
  src/configs/env.json
  src/configs/index.ts
  src/configs/stores.ts
  src/services/API/index.js
  src/services/API/providers/baseAPI.js
  src/services/API/providers/helpers.js
  src/services/PermissionCheck.js
  tsconfig.json
Due: yarn lint, git add -A

1.0.4
  package.json
Due: git add -A

update
  android/app/build.gradle
  android/app/lint/suppressing.xml
Due: none

update
  android/build.gradle
  package.json
  yarn.lock
Due: git add -A

1.0.5
  package.json
Due: git add -A

update
  package.json
  src/App/index.tsx
  src/i18n/index.ts
  src/i18n/locales/en.ts
  src/i18n/locales/ru.ts
  src/i18n/translations/en.json
  src/i18n/translations/ru.json
  tsconfig.json
  yarn.lock
Due: yarn lint, git add -A

1.0.6
  package.json
Due: git add -A

upgrade pods
  ios/Podfile.lock
Due: none

1.0.7
  package.json
Due: git add -A

update
  package.json
  src/i18n/index.ts
  yarn.lock
Due: yarn lint, git add -A

upgrade devendencies
  package.json
  yarn.lock
Due: git add -A

1.0.8
  package.json
Due: git add -A

1.0.9
  package.json
Due: git add -A

upgrade dependencies
  package.json
  yarn.lock
Due: git add -A

upgrade dependencies
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

upgrade depencencies
  package.json
  yarn.lock
Due: git add -A

1.0.10
  package.json
Due: git add -A

1.0.11
  package.json
Due: git add -A

1.0.12
  package.json
Due: git add -A

update configs
  .eslintrc.js
  package.json
  yarn.lock
Due: git add -A

1.0.13
  package.json
Due: git add -A

1.0.14
  package.json
Due: git add -A

upgrade depencencies & pods
  ios/Podfile.lock
Due: none

1.0.15
  package.json
Due: git add -A

1.0.16
  package.json
Due: git add -A

1.0.17
  package.json
Due: git add -A

update eslint
  .eslintrc.js
Due: none

1.0.18
  package.json
Due: git add -A

upgrade devendencies
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A
