Repository lnked/react-native-mobx-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, git add -A

1.0.29
  package.json
Due: git add -A

Upgrade dependencies
  package.json
  yarn.lock
Due: git add -A

Upgrade dependencies
  android/build.gradle
Due: none

Upgrade dependencies
  ios/Podfile.lock
Due: none

1.0.30
  package.json
Due: git add -A

Upgrade dependencies
  src/constants/index.ts
Due: yarn lint, git add -A

1.0.31
  package.json
Due: git add -A

Upgrade dependencies
  android/app/src/main/java/com/demoapp/MainActivity.java
  ios/Podfile.lock
  package.json
  src/navigation/index.ts
  yarn.lock
Due: yarn lint, git add -A

Upgrade dependencies
  src/navigation/index.ts
Due: yarn lint, git add -A

Upgrade dependencies
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

1.0.32
  package.json
Due: git add -A

change travis
  .travis.yml
  .travis/ci.sh
  .travis/ci_node.sh
Due: git add -A

1.0.33
  package.json
Due: git add -A

1.0.34
  package.json
Due: git add -A

1.0.35
  package.json
Due: git add -A

fix travis
  .travis.yml
  .travis/before_install.sh
  .travis/ci.sh
  .travis/ci_node.sh
  .travis/deploy.sh
  .travis/run.sh
Due: git add -A

Path conditions:
  yarn lint: any of: ./src/**/*.{ts,tsx}
  git add -A: (any of: ./src/**/*.{ts,tsx}) or (any of: **/*.{json,md,yaml,yml})
