Repository lnked/react-native-mobx-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, git add -A

Upgrade dependencies
  package.json
  yarn.lock
Due: git add -A

update
  src/App/styles.ts
  src/navigation/config.ts
  src/navigation/stacks/AppStack.ts
  src/screens/HomeScreen/index.tsx
  src/screens/HomeScreen/styles.ts
Due: yarn lint, git add -A

update
  src/App/index.tsx
  src/modules/Footer/index.tsx
  src/navigation/index.ts
  src/screens/DetailsScreen/index.tsx
  src/screens/LoginScreen/index.tsx
  src/screens/QRScanner/index.tsx
  src/screens/index.ts
Due: yarn lint, git add -A

1.0.44
  package.json
Due: git add -A

family
  src/screens/DetailsScreen/styled/index.ts
  src/screens/HeaderState/styled/index.ts
  src/screens/HomeScreen/index.tsx
  src/screens/HomeScreen/styled/index.ts
  src/screens/LoginScreen/styled/index.ts
  src/screens/QRScanner/index.tsx
  src/screens/QRScanner/styled/index.ts
Due: yarn lint, git add -A

update
  ios/Podfile.lock
  yarn.lock
Due: none

1.0.45
  package.json
Due: git add -A

1.0.46
  package.json
Due: git add -A

1.0.47
  package.json
Due: git add -A

Upgrade dependencies
  src/navigation/config.ts
  src/screens/HomeScreen/index.tsx
Due: yarn lint, git add -A

upgrade devendencies
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

1.0.48
  package.json
Due: git add -A

Upgrade dependencies
  .gitignore
  android/app/build.gradle
  android/app/debug.keystore
  android/app/src/main/java/com/demoapp/MainActivity.java
  android/app/src/main/java/com/demoapp/MainApplication.java
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  ios/DemoAppTests/DemoAppTests.m
  ios/Podfile
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

1.0.49
  package.json
Due: git add -A

1.0.50
  package.json
Due: git add -A

Upgrade dependencies
  android/app/build.gradle
  android/build.gradle
  package.json
  yarn.lock
Due: git add -A

upgrade devendencies
  android/app/build.gradle
  android/gradle.properties
Due: none

1.0.51
  package.json
Due: git add -A

update
  android/app/build.gradle
  android/gradle.properties
Due: none

Upgrade dependencies
  android/gradle.properties
  package.json
  yarn.lock
Due: git add -A

upgrade depencencies
  android/app/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  package.json
  yarn.lock
Due: git add -A

1.0.52
  package.json
Due: git add -A

1.0.53
  package.json
Due: git add -A

fix android
  android/app/src/main/java/com/demoapp/MainApplication.java
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

1.0.54
  package.json
Due: git add -A

upgrade depencencies
  package.json
  yarn.lock
Due: git add -A

1.0.55
  package.json
Due: git add -A

1.0.56
  package.json
Due: git add -A

Upgrade dependencies
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

Path conditions:
  yarn lint: any of: ./src/**/*.{ts,tsx}
  git add -A: (any of: ./src/**/*.{ts,tsx}) or (any of: **/*.{json,md,yaml,yml})
