Repository lnked/react-native-mobx-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, git add -A

1.0.19
  package.json
Due: git add -A

upgrade devendencies
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

1.0.20
  package.json
Due: git add -A

upgrade devendencies
  .travis.yml
  package.json
  yarn.lock
Due: git add -A

1.0.21
  package.json
Due: git add -A

update
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
  package.json
  tsconfig.json
  typings/files.d.ts
  typings/global.d.ts
  typings/images.d.ts
  yarn.lock
Due: git add -A

1.0.22
  package.json
Due: git add -A

remove unused
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
Due: none

1.0.23
  package.json
Due: git add -A

upgrade dependencies
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
  android/app/.classpath
  android/app/.project
  android/app/.settings/org.eclipse.buildship.core.prefs
  ios/Podfile.lock
  package.json
  src/services/middleware/Answers.ts
  src/services/middleware/Crashlytics.ts
  yarn.lock
Due: yarn lint, git add -A

upgrade dependencies
  src/services/middleware/Crashlytics.ts
Due: yarn lint, git add -A

1.0.24
  package.json
Due: git add -A

upgrade dependencies
  .gitignore
  android/app/build.gradle
  haul.config.js
  ios/DemoApp.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Due: git add -A

upgrade dependencies
  package.json
  yarn.lock
Due: git add -A

upgrade dependencies
  ios/DemoApp.xcodeproj/project.pbxproj
  ios/Podfile.lock
Due: none

fix linter issues
  .eslintignore
  haul.config.js
Due: none

remove haul
  .eslintignore
  .gitignore
  android/app/build.gradle
  haul.config.js
  ios/DemoApp/Images.xcassets/AppIcon.appiconset/Contents.json
  package.json
  yarn.lock
Due: git add -A

update
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/index.ts
  src/components/logo/index.tsx
Due: yarn lint, git add -A

update
  ios/Podfile.lock
  lint-staged.config.js
  package.json
  src/App/index.tsx
  src/App/styles.ts
  src/components/Badge/index.test.ts
  src/components/Badge/index.tsx
  src/components/Badge/styles.ts
  src/components/Button/index.test.ts
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/Loading/index.test.ts
  src/components/Loading/index.tsx
  src/components/Spinner/index.test.ts
  src/components/Spinner/index.tsx
  src/components/index.ts
  src/components/logo/index.tsx
  src/resources/styles/colors.ts
  src/resources/styles/common-styles.ts
  src/resources/styles/fonts.ts
  src/resources/styles/index.ts
  tslint.json
  yarn.lock
Due: yarn lint, git add -A

Upgrade dependencies
  package.json
  yarn.lock
Due: git add -A

Upgrade dependencies
  .deco/.settings
  ios/Podfile.lock
  package-lock.json
  package.json
  yarn.lock
Due: git add -A

Upgrade dependencies
  package-lock.json
  package.json
Due: git add -A

Upgrade dependencies
  package-lock.json
Due: git add -A

Upgrade dependencies
  yarn.lock
Due: none

Upgrade dependencies
  .prettierrc
  .prettierrc.js
  ios/Podfile
  ios/Podfile.lock
  package.json
  yarn.lock
Due: git add -A

1.0.25
  package.json
Due: git add -A

1.0.26
  package.json
Due: git add -A

1.0.27
  package.json
Due: git add -A

1.0.28
  package.json
Due: git add -A

remove .deco folder
  .deco/.settings
  .gitignore
Due: none

Path conditions:
  yarn lint: any of: ./src/**/*.{ts,tsx}
  git add -A: (any of: ./src/**/*.{ts,tsx}) or (any of: **/*.{json,md,yaml,yml})
